.axa{
padding-top: 300px;
font-family: montserrat ;
}
.axb{
    padding-top: 30px;
    transform: rotate(30deg);
    width: 60%;
    
}
.txt{
font-family: cursive;}
#title{
    /* background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: ; */
    background-color: #000000;
    color: #fff;
}
h3
{
    font-family: "montserrat-bold";
}
.fa-android{
    padding-right: 5px;
}
.fa-apple{
    padding-right: 5px;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.gr
{
    color: gray;
}
.fw-lighter{
    padding-bottom: 10px;
}
.icon{
margin-bottom: 1rem;}
.icon:hover{

color: gray;}
.testimonials1{
    padding: 7% 15%;
    text-align: center;
    background-color: #000000;
    color: #fff;
}
.lk{
    padding-bottom: 25px;
    font-family: "montserrat";
}
.lk2{
    padding-top: 70px;
    font-family: "montserrat";
    text-align: center;
}
.lo{
    padding-left: 25px;
    font-family: "montserrat-thin";
    font-size: larger;
}
/* .cd{
    padding-top: 25px;
    float: right;
} */
.lk11{
    padding-bottom: 25px;
    font-family: "montserrat-bold";
}
.mn{
    border-radius: 100%;

}
#press{
    /* padding: 7% 15%; */
    padding-top: 5%;
    padding-bottom: 5%;

}
.nb{
    /* margin: 5%; */
padding: 5% 5% 0 5%;
}
.ppp{
    padding: 7% 15%;
    text-align: center;
    background-color: #000000;
    color: #fff;  
}
.lk12{
    padding-bottom: 25px;
    font-family: "montserrat-bold";
    padding-top: 50px;
}
.carousel-item{
    padding: 7% 15%;
}
.op{
    /* padding: 7% 15%; */
    padding: 3% 15% 7% 15%;

    text-align: center;
    font-family: "montserrat-bold";
font-size: x-large;
}
.iio{
    padding: 0% 15% 7% 15%;
    text-align: center;
    font-family: "montserrat-bold";
}
.lk13{
    font-family: "montserrat-bold";
    padding: 10px 0 10px 0;
    color: #fff;
    background-color: #000000;
}
.nc{
    padding-top: 5px;
}
#footer{
    font-family: "montserrat-bold";
    font-size: large;
    padding-top: 25px;

}
.yuu{
    padding: 5% 10%;
    text-align: center;
    background-color: #000000;
    color: #fff;    
}
@media(max-width:1028px){
    .axb{
        transform: rotate(0);
        text-align: center;
    }
}
.j{
    margin: 5px;
}
.f1{
    margin: 5px;
}
.f2{
    margin: 5px;
}
.f3{
    margin: 5px;
}
.f4{
    margin: 5px;
}